/*Hamburger*/
header {
	background-color: #E5FFE5 /*Background color*/;
	padding: 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	border-bottom: solid 3px #008000 /*Main color*/;
}
.hamburger a {
	text-decoration: none;
	color: black;
}
.hamburger-menu {
	color: black;
	text-decoration: none;
}
.hamburger {
	display: inline-block;
	cursor: pointer;
	padding: 8px 12px;
	background-color: #E5FFE5 /*Background color*/;
	border: none;
	color: #333;
	font-size: 20px;
	font-family: justinlrt;
}
.hamburger:hover {
	background-color: #E5FFE5 /*Background color*/;
}
.font-margin {
	padding-left: 10px;
}
.icon-nav {
	width: 10%;
	transform: translate(0px,3.6px);
}
@font-face {
	font-family: justinlrt;
	src: url(font/ananda.ttf);
}

/*HTML page*/
* {
	margin: 0px;
	padding: 0px;
}
footer {
	text-align: center;
	margin-top: 17px;
	margin-bottom: 40px;
}
body {
	font-family: Arial;
	background: white;
	margin-left: 10px;
	margin-right: 10px;
}
td {
	font-size: 96%;
}
a {
	text-decoration: none;
	color: green;
}
ol, ul {
	padding-left: 22px;
}
h1,h2 {
	text-align: center;
}
button {
	background-color: #B8FFAA;
	border-color: #008000 /*Main color*/;
	border-width: 2px;
	padding: 1px 3px 1px 3px;
}
button:hover {
	background-color: #008000;
}
select {
	background-color: #B8FFAA;
	border-color: #008000 /*Main color*/;
	border-width: 2px;
	padding: 1px 3px 1px 3px;
}
audio {
	width: 100%;
	height: 38px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social a {
	padding: 0 8px;
}
div.title h1 {
	margin-top: 45px;
}
ul.pdl li {
	padding-top: 10px;
}
ol.pdl li {
	padding-top: 10px;
}
.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: contain;
}
.left-text {
	text-align: left;
}
.center-text {
	text-align: center;
}
.right-text {
	text-align: right;
}
.title {
	padding: 0.5em 1em;
	margin: 0em 0em;
	align-content: center;
}
.title br {
	margin: 0;
	padding: 0;
}
.submit_btn {
	margin-top: 1%;
	width: 20%;
}
.submit_btn:hover {
	cursor: pointer;
	opacity: 0.7;
}
.subtitle {
	font-size: 0.7em;
}
.dp {
	border-color: #008000 /*Main color*/;
	border-radius: 10px;
	border-style: solid;
	float: left;
	margin-right: 10px;
	width: 100px
}
.dp1 {
	float: left;
	margin-right: 10px;
	width: 125px
}
.flag-counter {
	text-align: center
}
.text {
	display: none;
}
.desc {
	font-size: 85%;
	color: rgb(80, 80, 80);
}
@media (min-width: 700px) {
	.center-fit {
		justify-content: center;
	}
}

/*Boxes*/
.box1 {
	padding: 0.5em 0.5em;
	margin-top: 0%;
	margin-bottom: 3%;
	border: solid 3px #008000 /*Main color*/;
	text-align: center;
}
.box1 br {
	margin: 0;
	padding: 0;
}
.box2 {
	padding: 0.5em 0.5em;
	margin-top: 0%;
	margin-bottom: 3%;
	color: black;
	background: #E5FFE5 /*Background color*/;
	border-top: solid 5px #008000 /*Main color*/;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	border-radius: 10px;
}
.box2 br {
	margin: 0;
	padding: 0;
}
.box3 {
	padding: 0.5em 0.5em;
	margin-top: 0%;
	margin-bottom: 3%;
	background: #E5FFE5 /*Background color*/;
	border-radius: 10px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.box3 .box-title {
	font-size: 1.2em;
	background: #008000 /*Main color*/;
	padding: 4px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	letter-spacing: 0.05em;
}
.box3 br {
	padding: 15px 20px;
	margin: 0;
}

/*Background colors*/
.red-bg {
	background-color: #FFBFBF;
}
.orange-bg {
	background-color: #FFDFBF;
}
.yellow-bg {
	background-color: #FFFFBF;
}
.green-bg {
	background-color: #BFFFBF;
}
.cyan-bg {
	background-color: #BFFFFF;
}
.blue-bg {
	background-color: #BFBFFF;
}
.magenta-bg {
	background-color: #FFBFFF;
}
.purple-bg {
	background-color: #DFBFFF;
}

/*Background colors to represent each grade levels*/
/*Best for table headings*/
.g7-th {
	background-color: #009900;
}
.g8-th {
	background-color: #FFFF65;
}
.g9-th {
	background-color: #FF6565;
}
.g10-th {
	background-color: #6565FF;
}
.g11-th {
	background-color: #B265FF;
}
.g12-th {
	background-color: #FFB265;
}

/*Background solid colors (100% pure) represent each grade levels*/
.g7 {
	background-color: green;
}
.g8 {
	background-color: yellow;
}
.g9 {
	background-color: red;
}
.g10 {
	background-color: blue;
}
.g11 {
	background-color: purple;
}
.g12 {
	background-color: orange;
}

/*Table*/
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	table-layout: fixed;
	border: 1;
	width: 100%;
}
td, th {
	position: relative;
	border: 1px solid #dddddd;
	text-align: left;
	padding: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
th {
	background-color: #B8FFAA;
	/*#AAD0FF & #C0DCFF is the old*/
}
table.inner-table th {
	background: #C5FFBA;
}
.td-bg {
	background: #C5FFBA;
}

/*Collapsible*/
.collapsible {
	/*Button*/
	border: 3px solid blue;
	background-color: #008000 /*Main color*/;
	color: white;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	border-radius: 10px;
}
.active, .collapsible:hover {
	background-color: #4FFF4C;
}
.content {
	padding: 0 13px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.17s ease-out;
	background-color: #E5FFE5 /*Background color*/;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 3%;
	top: 9px;
}
@media (min-width: 600px) {
	.content {
		margin-bottom: 10px;
	}
}

/*For train stations. Colored border lines left and right*/
/*Only for stations under 'services'*/
.line1 {
	border-left: solid 18px #01844B;
	border-right: solid 18px #01844B;
}
.line2 {
	border-left: solid 18px #324A9C;
	border-right: solid 18px #324A9C;
}
.line3 {
	border-left: solid 18px #FFCC00;
	border-right: solid 18px #FFCC00;
}
.line6 {
	border-left: solid 18px #A9A9A9;
	border-right: solid 18px #A9A9A9;
}
.line7 {
	border-left: solid 18px #DB1E1E;
	border-right: solid 18px #DB1E1E;
}
.linepnr {
	border-left: solid 18px #FF9900;
	border-right: solid 18px #FF9900;
}
.font-station {
	font-size: 90%;
}

/*Text color decoration for links for master lists in Pasay West represents as grade levels*/
.g7-link {
	color: green;
}
.g8-link {
	color: yellow;
}
.g9-link {
	color: red;
}
.g10-link {
	color: blue;
}
.g11-link {
	color: purple;
}
.g12-link {
	color: orange;
}

/*Countdown*/
.countdown {
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}

/*Posts*/
.post {
	display: flex;
	padding-bottom: 15px;
}
.profile-picture img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	/* To make it circular */
	margin-right: 10px;
	/* To maintain aspect ratio within the circle */
}
.post-details {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	padding-top: 5px;
}
.name {
	font-weight: bold;
	font-size: 18px;
}
.date-time {
	color: #888;
	font-size: 14px;
}

/*Calendar*/
table.calendar-days td {
	text-align: center;
}
div.scal li {
	padding-top: 2px;
	padding-bottom: 2px;
}
.sunday {
	background-color: red;
}
.holiday {
	background-color: red;
}
.class-suspended {
	background-color: orange;
}
.activity {
	background-color: green;
}
.events {
	background-color: #3DCC6C;
}
.events-clssus {
	background-color: yellow;
}
.test {
	background-color: #415BDB;
}
.async {
	background-color: lime;
}
.firstday {
	background-color: skyblue;
}
.incident {
	background-color: #8E24AA;
}
.break {
	background-color: #FF6400;
}

/*Templates*/
.red-temp {
	padding: 0.5em 0.5em 0.5em 4em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	border-left: solid 10px #B32424;
	color: #54595D;
	font-size: 85%;
}
.red-temp1 {
	padding: 0.5em 0.5em 0.5em 4em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	border-left: solid 10px #B32424;
	color: #54595D;
	background-color: #FFDBDB;
	font-size: 85%;
}

.orange-temp {
	padding: 0.5em 0.5em 0.5em 4em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	border-left: solid 10px #F28500;
	color: #54595D;
	font-size: 85%;
}
.yellow-temp {
	padding: 0.5em 0.5em 0.5em 4em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	border-left: solid 10px #FFCC33;
	color: #54595D;
	font-size: 85%;
}
.green-temp {
	padding: 0.5em 0.5em 0.5em 4em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	border-left: solid 10px #32FF65;
	color: #54595D;
	font-size: 85%;
}
.lightblue-temp {
	padding: 0.5em 0.5em 0.5em 4em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	border-left: solid 10px #3366CC;
	color: #54595D;
	font-size: 85%;
}
.blue-temp {
	padding: 0.5em 0.5em 0.5em 4em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	border-left: solid 10px #00008B;
	color: #54595D;
	font-size: 85%;
}
.violet-temp {
	padding: 0.5em 0.5em 0.5em 4em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	border-left: solid 10px #9932CC;
	color: #54595D;
	font-size: 85%;
}


.bd-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
}
.red-bd-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #B32424;
}
.orange-bd-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #F28500;
}
.yellow-bd-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #FFCC33;
}
.lightblue-bd-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #3366CC;
}
.violet-bd-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #9932CC;
}



.red-bg-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	background-color: #FFDBDB;
}
.red-bg-temp1 {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #B32424;
	background-color: #FFDBDB;
}
.lightorange-bg-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	background-color: #FFE7CE;
}
.orange-bg-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #B32424;
	background-color: #F0C0A0;
}
.yellow-bg-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	background-color: #F8EABA;
}
.yellow-bg-temp1 {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #B32424;
	background-color: #F8EABA;
}
.yellow-bg-temp2 {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #F28500;
	background-color: #F8EABA;
}
.yellow-bg-temp3 {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #FFCC33;
	background-color: #F8EABA;
}
.yellow-bg-temp4 {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #9932CC;
	background-color: #F8EABA;
}
.lightblue-bg-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	background-color: #D3EDFD;
}
.lightblue-bg-temp1 {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #3366CC;
	background-color: #D3EDFD;
}
.blue-bg-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	background-color: #DFE8FF;
}
.violet-bg-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 1.25px #A2A9B1;
	background-color: #E4D8FF;
}
.grey-bg-temp {
	padding: 0.5em;
	margin: 0% 0% 3% 0%;
	border: solid 2.7px #8888AA;
	background-color: #F7F8FF;
}

.quotation-temp {
	border-left: solid 3.5px #9DAF9D;
	padding-left: 22px;
	font-family: serif;
}

/*SVG*/
.external-link {
	width: 12px;
	height: 12px;
}
.lrt1green-logo {
	/*No styles yet*/
}

/*SVG floating images*/
.ui {
	float: left;
	margin-right: 10px;
	width: 42px;
}
.verifiedsvg {
	/*No styles yet*/
}
.extsvg {
	vertical-align: -1px;
	margin: 0px;
}

/*Text color*/
.red {
	color: red;
}